
@{
    ViewBag.Title = "Create";
}
@model ASPDemo.Models.Game

<h2>Add a new game</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Name")
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.Genre, "Genre")
    <br />
    @Html.EditorFor(model => model.Genre)
    <br /><br />
    @Html.LabelFor(model => model.Description, "Description")
    <br />
    @Html.EditorFor(model => model.Description)
    <br /><br />
    @Html.LabelFor(model => model.Price, "Price")
    <br />
    @Html.EditorFor(model => model.Price)
    <br /><br />
    <input type="submit" value="Add" />
}